BOT_TOKEN='811097:BLAB-LABL-BLAA-vvn20'
DATABASE_URL='postgresql://kakkaroto:*******@ep-steep-cell-*****-pooler.c-3.us-****-2.BK8.*****.tech/neondb?sslmode=require&channel_binding=require'

MAX_FILE_SIZE=50
DOWNLOAD_TIMEOUT=30000
LOG_LEVEL=info

ADMIN_IDS=251425,185919,2111161h,